html {
box-sizing: html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5rem;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: centre;
  background-color: #e2e2e2;
}

h1 {
  margin: 0;
}

header .img {
  width: 2.25rem;
  order: -1;

}
